/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CenturyGothic";
  src: url('/fonts/CenturyGothic.ttf?1537946943') format('truetype'), url('/fonts/CenturyGothic.eot?1537946956') format('embedded-opentype'), url('/fonts/CenturyGothic.woff?1537946963') format('woff');
}
@font-face {
  font-family: "CenturyGothicBold";
  src: url('/fonts/CenturyGothic-Bold.ttf?1537948041') format('truetype'), url('/fonts/CenturyGothic-Bold.eot?1537948040') format('embedded-opentype'), url('/fonts/CenturyGothic-Bold.woff?1537948042') format('woff');
}
/*header_fix, second_header, copyr*/
/*font subname, header_abs*/
/*font at footer*/
/* line 8, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../sass/style.scss */
a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 16, ../sass/style.scss */
img {
  width: 100%;
  height: auto;
  -webkit-tap-highlight-color: transparent;
}

/* line 21, ../sass/style.scss */
input {
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: none;
  color: #5d626a;
}

/* line 28, ../sass/style.scss */
::-webkit-input-placeholder {
  color: #5d626a;
  letter-spacing: 0.05em;
}

/* line 29, ../sass/style.scss */
::-moz-placeholder {
  color: #5d626a;
  letter-spacing: 0.05em;
}

/* line 30, ../sass/style.scss */
:-ms-input-placeholder {
  color: #5d626a;
  letter-spacing: 0.05em;
}

/* line 31, ../sass/style.scss */
:-moz-placeholder {
  color: #5d626a;
  letter-spacing: 0.05em;
}

/* line 33, ../sass/style.scss */
body {
  font-family: "CenturyGothic";
  background-color: #ffffff;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

/* line 39, ../sass/style.scss */
.hidden__box {
  height: 0px;
  overflow: hidden;
}

/* line 43, ../sass/style.scss */
.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

/* line 49, ../sass/style.scss */
.flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/* line 57, ../sass/style.scss */
.header_outer__before {
  position: absolute;
  z-index: 56;
  width: 100%;
}

/* line 62, ../sass/style.scss */
.header {
  width: 100%;
  background: #5d626a;
  padding-top: 40px;
  padding-bottom: 94px;
}

/* line 68, ../sass/style.scss */
.header_wrapper {
  color: #cbcfd5;
  width: 100%;
  max-width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

/* line 76, ../sass/style.scss */
.header_lang {
  margin-right: 10px;
}

/* line 79, ../sass/style.scss */
.aside {
  width: 230px;
  text-align: center;
  justify-content: center;
  -webkit-justify-content: center;
}

/* line 85, ../sass/style.scss */
.aside_b {
  width: 230px;
}

/* line 88, ../sass/style.scss */
.grey {
  fill: #cbcfd5;
}

/* line 91, ../sass/style.scss */
.header_social li {
  display: inline-block;
  vertical-align: middle;
}

/* line 95, ../sass/style.scss */
.header_social svg {
  max-width: 16px;
  max-height: 16px;
  margin: 0 5px;
  fill: #cbcfd5;
}

/* line 101, ../sass/style.scss */
.header_center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

/* line 108, ../sass/style.scss */
.header__logo {
  max-width: 280px;
  max-height: 64px;
}

/* line 112, ../sass/style.scss */
.header__callback {
  cursor: pointer;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
/* line 118, ../sass/style.scss */
.header__callback svg {
  fill: #cbcfd5;
  margin: 0 4px;
}

/* line 127, ../sass/style.scss */
.header_fixed__logo svg {
  width: 216px;
  height: 50px;
}

/* line 131, ../sass/style.scss */
.header_wrapper {
  align-items: center;
  -webkit-align-items: center;
}

/* line 135, ../sass/style.scss */
.header_fixed_lang {
  width: 230px;
  text-align: center;
}

/* line 139, ../sass/style.scss */
.header_fixed__nav {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

/* line 152, ../sass/style.scss */
.navigation {
  background: #565c64;
  text-align: center;
  padding: 34px 0;
  transition: 0.3s;
}
/* line 157, ../sass/style.scss */
.navigation .navigation__box svg {
  fill: #fff;
  height: 16px;
  margin-left: 10px;
}
/* line 162, ../sass/style.scss */
.navigation .header_fixed__logo {
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: .5s;
}
/* line 167, ../sass/style.scss */
.navigation .header_fixed_lang {
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: .5s;
}

/* line 173, ../sass/style.scss */
.navigation__box {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  transition: 0.3s;
  -webkit-transition: .3s;
}
/* line 179, ../sass/style.scss */
.navigation__box li {
  display: inline-block;
  margin: 0 12px;
}

/* line 184, ../sass/style.scss */
.menu_hover__outer {
  height: 0;
  overflow: hidden;
}

/* line 188, ../sass/style.scss */
.menu_hover {
  background: #565c64;
  color: #ffffff;
  padding: 24px 0;
}

/* line 193, ../sass/style.scss */
.menu_hover__item {
  display: block;
  width: 19%;
  background-color: #565c64;
  transition: .36s;
  -webkit-transition: .36s;
  padding-bottom: 14px;
}
/* line 200, ../sass/style.scss */
.menu_hover__item .subname, .menu_hover__item .content_text {
  text-align: center;
}

/* line 205, ../sass/style.scss */
.scrolled .navigation {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
}
/* line 210, ../sass/style.scss */
.scrolled .navigation .header_fixed__logo {
  opacity: 1;
}
/* line 213, ../sass/style.scss */
.scrolled .navigation .header_fixed_lang {
  opacity: 1;
}
/* line 217, ../sass/style.scss */
.scrolled .navigation__box {
  font-size: 18px;
}
/* line 219, ../sass/style.scss */
.scrolled .navigation__box li {
  margin: 0 10px;
}

/* line 224, ../sass/style.scss */
.menu_hover__item:hover {
  background-color: #5d626a;
}

/* line 227, ../sass/style.scss */
.content_name {
  font-size: 36px;
  color: #5d626a;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}

/* line 234, ../sass/style.scss */
.subname {
  font-size: 18px;
  text-transform: uppercase;
  margin: 16px 0 10px;
}

/* line 239, ../sass/style.scss */
.content_text {
  font-size: 14px;
  line-height: 1.6;
  color: #cbcfd5;
}

/* line 244, ../sass/style.scss */
.main_one {
  height: 100vh;
  min-height: 750px;
  position: relative;
}

/* line 249, ../sass/style.scss */
.main_one:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 55;
}

/* line 259, ../sass/style.scss */
.one_gallery__item {
  height: 100vh;
  min-height: 750px;
  background-size: cover;
  background-position: center;
}

/* line 266, ../sass/style.scss */
.one_gallery__item_1 {
  background-image: url(/img/main/main_1.jpg);
}

/* line 269, ../sass/style.scss */
.one_gallery__item_2 {
  background-image: url(/img/main/main_2.jpg);
}

/* line 272, ../sass/style.scss */
.one_gallery__item_3 {
  background-image: url(/img/main/main_3.jpg);
}

/* line 275, ../sass/style.scss */
.one_gallery__item_4 {
  background-image: url(/img/main/main_4.jpg);
}

/* line 278, ../sass/style.scss */
.main_one__inner {
  position: absolute;
  left: 0;
  top: 45%;
  z-index: 55;
  color: #ffffff;
}

/* line 285, ../sass/style.scss */
.main_one__name {
  font-size: 36px;
  text-transform: uppercase;
}

/* line 289, ../sass/style.scss */
.main_one__descr {
  max-width: 520px;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 294, ../sass/style.scss */
.main_one__Link {
  font-family: 'CenturyGothicBold';
  font-size: 16px;
  display: flex;
  align-items: center;
}
/* line 299, ../sass/style.scss */
.main_one__Link .long_arrow {
  margin: 0 12px;
}

/* line 303, ../sass/style.scss */
.long_arrow {
  width: 108px;
  height: 15px;
  fill: #ffffff;
}

/* line 308, ../sass/style.scss */
.main_one__caption {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: 50px;
  z-index: 55;
}

/* line 319, ../sass/style.scss */
.main_one__slide_left,
.main_one__slide_right {
  color: #fff;
  cursor: pointer;
}

/* line 324, ../sass/style.scss */
.main_one__slide_left {
  text-align: right;
}

/* line 327, ../sass/style.scss */
.main_banner {
  padding: 24px 0;
}

/* line 331, ../sass/style.scss */
.main_project__box {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

/* line 337, ../sass/style.scss */
.main_project__item {
  width: 30%;
  margin: 20px 0;
}

/* line 341, ../sass/style.scss */
.main_project__item figure,
.main_news__item figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

/* line 348, ../sass/style.scss */
.main_project__item figure > img,
.main_news__item figure > img {
  position: relative;
  display: block;
  max-width: 100%;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
}

/* line 360, ../sass/style.scss */
.main_project__item figure > img {
  height: 385px;
}

/* line 364, ../sass/style.scss */
.main_project__item figure figcaption,
.main_news__item figure figcaption {
  padding: 2em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 370, ../sass/style.scss */
.main_project__item figure figcaption::before,
.main_project__item figure figcaption::after,
.main_news__item figure figcaption::before,
.main_news__item figure figcaption:after {
  pointer-events: none;
}

/* line 376, ../sass/style.scss */
.main_project__item figure figcaption,
.main_project__item figure > a,
.main_news__item figure figcaption,
.main_news__item figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 386, ../sass/style.scss */
figure.effect-sadie figcaption::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(86, 92, 100, 0.4) 0%, rgba(86, 92, 100, 0.9) 75%);
  background: linear-gradient(to bottom, rgba(86, 92, 100, 0.4) 0%, rgba(86, 92, 100, 0.9) 75%);
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

/* line 400, ../sass/style.scss */
.main_project__logo {
  width: 65%;
  max-width: 180px;
  position: absolute;
  top: 65%;
  left: 50%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.8s, opacity 0.9s;
  transition: transform 0.8s, opacity 0.9s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

/* line 412, ../sass/style.scss */
figure.effect-sadie figcaption::before {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

/* line 416, ../sass/style.scss */
figure.effect-sadie:hover .main_project__logo {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(-50%, -50%, 0) translate3d(0, -40px, 0);
}

/* line 421, ../sass/style.scss */
figure.effect-sadie:hover > img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 426, ../sass/style.scss */
figure.effect-sadie:hover figcaption::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 431, ../sass/style.scss */
.main_project__descr {
  color: #5d626a;
  text-align: left;
}
/* line 434, ../sass/style.scss */
.main_project__descr .content_text {
  text-align: left;
  color: #5d626a;
}

/* line 440, ../sass/style.scss */
.main_map {
  padding: 40px 0;
}

/* line 443, ../sass/style.scss */
.main_map__inner {
  width: 100%;
  height: 490px;
  max-width: 1180px;
  margin: 0 auto;
}

/* line 449, ../sass/style.scss */
.main_news {
  background-color: #cbcfd5;
  padding: 50px 0 160px;
}

/* line 453, ../sass/style.scss */
.grey_button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  background: #f3f3f3;
}

/* line 459, ../sass/style.scss */
.main_news__top {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
/* line 463, ../sass/style.scss */
.main_news__top .grey_button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* line 470, ../sass/style.scss */
.main_news__item {
  width: 48%;
}

/* line 473, ../sass/style.scss */
.main_news__item figure {
  height: 310px;
}

/* line 476, ../sass/style.scss */
figure.effect-julia {
  background: #2f3238;
}

/* line 479, ../sass/style.scss */
figure.effect-julia img {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 485, ../sass/style.scss */
figure.effect-julia figcaption {
  text-align: left;
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 36px;
}
/* line 492, ../sass/style.scss */
figure.effect-julia figcaption:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #cbcfd5;
  top: 0;
  left: 26px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 505, ../sass/style.scss */
figure.effect-julia p {
  display: block;
  margin-left: 12px;
  color: #cbcfd5;
  text-transform: none;
  font-size: 14px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.6s;
  transition: opacity 0.35s, transform 0.6s;
  -webkit-transform: translate3d(-360px, 0, 0);
  transform: translate3d(-360px, 0, 0);
}

/* line 517, ../sass/style.scss */
figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 521, ../sass/style.scss */
figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 526, ../sass/style.scss */
figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

/* line 530, ../sass/style.scss */
figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 534, ../sass/style.scss */
figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

/* line 538, ../sass/style.scss */
figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 542, ../sass/style.scss */
figure.effect-julia:hover p:nth-of-type(4) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 546, ../sass/style.scss */
figure.effect-julia:hover p:nth-of-type(5) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* line 550, ../sass/style.scss */
figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

/* line 555, ../sass/style.scss */
figure.effect-julia:hover figcaption:before {
  opacity: 1;
}

/* line 558, ../sass/style.scss */
figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 563, ../sass/style.scss */
.main_news__prev {
  padding: 20px 30px;
  color: #5d626a;
}
/* line 566, ../sass/style.scss */
.main_news__prev svg.calendar {
  fill: #5d626a;
  width: 16px;
  height: 12px;
}

/* line 572, ../sass/style.scss */
.main_progress {
  background: url("/img/main/main_progress.jpg") center no-repeat;
  padding-bottom: 360px;
  background-size: cover;
}

/* line 577, ../sass/style.scss */
.main_progress__box {
  width: 100%;
  max-width: 1030px;
  background: #5d626a;
  padding: 20px 50px 50px;
  position: relative;
  top: -82px;
}
/* line 584, ../sass/style.scss */
.main_progress__box .content_name {
  color: #cbcfd5;
}

/* line 588, ../sass/style.scss */
.main_progress_descr__item {
  align-items: center;
  -webkit-align-items: center;
}

/* line 592, ../sass/style.scss */
.main_progress__number {
  color: #ffffff;
  font-size: 40px;
  white-space: nowrap;
  margin-right: 14px;
}

/* line 598, ../sass/style.scss */
.main_progress__prev {
  color: #cbcfd5;
  font-size: 14px;
  line-height: 1.4;
}

/* line 603, ../sass/style.scss */
.main_advantages {
  background-color: #f3f3f3;
  padding-bottom: 80px;
}
/* line 606, ../sass/style.scss */
.main_advantages .content_name {
  text-align: left;
}

/* line 610, ../sass/style.scss */
.main_advantages_images {
  justify-content: flex-end;
  align-items: center;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
  position: relative;
  top: -220px;
  margin-bottom: -220px;
}

/* line 619, ../sass/style.scss */
.main_advantages_img_1 {
  position: relative;
  max-width: 590px;
}

/* line 623, ../sass/style.scss */
.main_advantages_img_2 {
  position: relative;
  max-width: 356px;
}

/* line 627, ../sass/style.scss */
.main_advantages__item {
  width: 24%;
  background: #ffffff;
  padding: 28px 24px;
  color: #5d626a;
}
/* line 632, ../sass/style.scss */
.main_advantages__item .adv__name {
  font-family: "CenturyGothicBold";
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 638, ../sass/style.scss */
.main_advantages__item .content_text {
  color: #5d626a;
}

/* line 642, ../sass/style.scss */
.footer {
  background: #5d626a;
  padding: 60px 0 30px;
  color: #cbcfd5;
}
/* line 646, ../sass/style.scss */
.footer svg {
  fill: #cbcfd5;
}

/* line 650, ../sass/style.scss */
.footer_name {
  font-size: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

/* line 655, ../sass/style.scss */
.footer__item {
  max-width: 210px;
  font-size: 14px;
  line-height: 2;
}
/* line 659, ../sass/style.scss */
.footer__item .flex {
  align-items: center;
  -webkit-align-items: center;
}

/* line 664, ../sass/style.scss */
.footer_logo {
  width: 100%;
  max-width: 200px;
  max-height: 100px;
}

/* line 669, ../sass/style.scss */
.footer_contact_svg {
  max-width: 20px;
  max-height: 16px;
}

/* line 673, ../sass/style.scss */
.footer_social__item {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid;
  padding: 4px;
  margin-right: 14px;
}
/* line 680, ../sass/style.scss */
.footer_social__item svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* line 686, ../sass/style.scss */
.footer__box {
  margin-bottom: 40px;
}
/* line 688, ../sass/style.scss */
.footer__box + .footer_name {
  text-align: center;
}

/* line 692, ../sass/style.scss */
.footer_subscribe {
  width: 100%;
  max-width: 476px;
  margin: 20px auto;
}
/* line 696, ../sass/style.scss */
.footer_subscribe input {
  width: 58%;
  padding: 0 20px;
}
/* line 700, ../sass/style.scss */
.footer_subscribe input[type="submit"] {
  width: 40%;
  padding: 0;
}

/* line 705, ../sass/style.scss */
input {
  background: #fff;
  height: 46px;
  line-height: 46px;
}

/* line 710, ../sass/style.scss */
input[type="submit"] {
  background: #cbcfd5;
}

/* line 713, ../sass/style.scss */
.copyright {
  padding: 30px 0;
  background: #565c64;
  color: #cbcfd5;
  font-size: 14px;
}

/* line 719, ../sass/style.scss */
.smartorange__logo {
  width: 68px;
  height: 20px;
}
