/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CenturyGothic";
  src: url('/fonts/CenturyGothic.ttf?1537946943') format('truetype'), url('/fonts/CenturyGothic.eot?1537946956') format('embedded-opentype'), url('/fonts/CenturyGothic.woff?1537946963') format('woff');
}
@font-face {
  font-family: "CenturyGothicBold";
  src: url('/fonts/CenturyGothic-Bold.ttf?1537948041') format('truetype'), url('/fonts/CenturyGothic-Bold.eot?1537948040') format('embedded-opentype'), url('/fonts/CenturyGothic-Bold.woff?1537948042') format('woff');
}
/*header_fix, second_header, copyr*/
/*font subname, header_abs*/
/*font at footer*/
/* line 8, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 11, ../sass/style.scss */
a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 16, ../sass/style.scss */
img {
  width: 100%;
  height: auto;
  -webkit-tap-highlight-color: transparent;
}

/* line 21, ../sass/style.scss */
input {
  -webkit-appearance: none;
}

/* line 24, ../sass/style.scss */
body {
  font-family: "CenturyGothic";
  background-color: #ffffff;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

/* line 30, ../sass/style.scss */
.hidden__box {
  height: 0px;
  overflow: hidden;
}

/* line 34, ../sass/style.scss */
.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

/* line 40, ../sass/style.scss */
.flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

/* line 48, ../sass/style.scss */
.header_outer__before {
  position: absolute;
  z-index: 56;
  width: 100%;
}

/* line 53, ../sass/style.scss */
.header {
  width: 100%;
  background: #5d626a;
  padding-top: 40px;
  padding-bottom: 94px;
}

/* line 59, ../sass/style.scss */
.header_wrapper {
  color: #cbcfd5;
  width: 100%;
  max-width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

/* line 67, ../sass/style.scss */
.header_lang {
  margin-right: 10px;
}

/* line 70, ../sass/style.scss */
.aside {
  width: 230px;
  text-align: center;
  justify-content: center;
  -webkit-justify-content: center;
}

/* line 76, ../sass/style.scss */
.aside_b {
  width: 230px;
}

/* line 79, ../sass/style.scss */
.grey {
  fill: #cbcfd5;
}

/* line 82, ../sass/style.scss */
.header_social li {
  display: inline-block;
  vertical-align: middle;
}

/* line 86, ../sass/style.scss */
.header_social svg {
  max-width: 16px;
  max-height: 16px;
  margin: 0 5px;
  fill: #cbcfd5;
}

/* line 92, ../sass/style.scss */
.header_center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

/* line 99, ../sass/style.scss */
.header__logo {
  max-width: 280px;
  max-height: 64px;
}

/* line 103, ../sass/style.scss */
.header__callback {
  cursor: pointer;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
/* line 109, ../sass/style.scss */
.header__callback svg {
  fill: #cbcfd5;
  margin: 0 4px;
}

/* line 114, ../sass/style.scss */
.header_fixed {
  display: none;
  background: #565c64;
  padding: 10px 0;
}

/* line 119, ../sass/style.scss */
.header_fixed__logo svg {
  width: 216px;
  height: 50px;
}

/* line 123, ../sass/style.scss */
.header_fixed .header_wrapper {
  align-items: center;
  -webkit-align-items: center;
}

/* line 127, ../sass/style.scss */
.header_fixed_lang {
  width: 230px;
  text-align: center;
}

/* line 131, ../sass/style.scss */
.header_fixed__nav {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

/* line 136, ../sass/style.scss */
.header_fixed__nav li {
  margin: 0 10px;
}

/* line 139, ../sass/style.scss */
.header_fixed__nav svg {
  fill: #ffffff;
  margin-left: 10px;
  height: 12px;
}

/* line 144, ../sass/style.scss */
.navigation {
  background: #565c64;
  text-align: center;
  padding: 34px 0;
}
/* line 148, ../sass/style.scss */
.navigation svg {
  fill: #fff;
  height: 16px;
  margin-left: 10px;
}

/* line 154, ../sass/style.scss */
.navigation__box {
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}
/* line 158, ../sass/style.scss */
.navigation__box li {
  display: inline-block;
  margin: 0 12px;
}

/* line 163, ../sass/style.scss */
.menu_hover__outer {
  height: 0;
  overflow: hidden;
}

/* line 167, ../sass/style.scss */
.menu_hover {
  background: #565c64;
  color: #ffffff;
  padding: 24px 0;
}

/* line 172, ../sass/style.scss */
.menu_hover__item {
  display: block;
  width: 19%;
  background-color: #565c64;
  transition: .36s;
  -webkit-transition: .36s;
  padding-bottom: 14px;
}
/* line 179, ../sass/style.scss */
.menu_hover__item .subname, .menu_hover__item .content_text {
  text-align: center;
}

/* line 183, ../sass/style.scss */
.menu_hover__item:hover {
  background-color: #5d626a;
}

/* line 186, ../sass/style.scss */
.content_name {
  font-size: 36px;
  color: #5d626a;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}

/* line 193, ../sass/style.scss */
.subname {
  font-size: 18px;
  text-transform: uppercase;
  margin: 16px 0 10px;
}

/* line 198, ../sass/style.scss */
.content_text {
  font-size: 14px;
  line-height: 1.6;
  color: #cbcfd5;
}

/* line 203, ../sass/style.scss */
.main_one {
  height: 100vh;
  min-height: 750px;
  position: relative;
}

/* line 208, ../sass/style.scss */
.main_one:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 55;
}

/* line 218, ../sass/style.scss */
.one_gallery__item {
  height: 100vh;
  min-height: 750px;
  background-size: cover;
  background-position: center;
}

/* line 225, ../sass/style.scss */
.one_gallery__item_1 {
  background-image: url(/img/main/main_1.jpg);
}

/* line 228, ../sass/style.scss */
.one_gallery__item_2 {
  background-image: url(/img/main/main_2.jpg);
}

/* line 231, ../sass/style.scss */
.one_gallery__item_3 {
  background-image: url(/img/main/main_3.jpg);
}

/* line 234, ../sass/style.scss */
.one_gallery__item_4 {
  background-image: url(/img/main/main_4.jpg);
}

/* line 237, ../sass/style.scss */
.main_one__inner {
  position: absolute;
  left: 0;
  top: 45%;
  z-index: 57;
  color: #ffffff;
}

/* line 244, ../sass/style.scss */
.main_one__name {
  font-size: 36px;
  text-transform: uppercase;
}

/* line 248, ../sass/style.scss */
.main_one__descr {
  max-width: 520px;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 253, ../sass/style.scss */
.main_one__Link {
  font-family: 'CenturyGothicBold';
  font-size: 16px;
  display: flex;
  align-items: center;
}
/* line 258, ../sass/style.scss */
.main_one__Link .long_arrow {
  margin: 0 12px;
}

/* line 263, ../sass/style.scss */
.long_arrow {
  width: 108px;
  height: 15px;
  fill: #ffffff;
}

/* line 268, ../sass/style.scss */
.main_one__caption {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: 50px;
  z-index: 55;
}

/* line 279, ../sass/style.scss */
.main_one__slide_left,
.main_one__slide_right {
  color: #fff;
}

/* line 283, ../sass/style.scss */
.main_one__slide_left {
  text-align: right;
}

/* line 286, ../sass/style.scss */
.main_banner {
  padding: 24px 0;
}

/* line 290, ../sass/style.scss */
.main_project__box {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

/* line 296, ../sass/style.scss */
.main_project__item {
  width: 30%;
  margin: 20px 0;
}

/* line 300, ../sass/style.scss */
.main_project__item figure,
.main_news__item figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}

/* line 307, ../sass/style.scss */
.main_project__item figure > img,
.main_news__item figure > img {
  position: relative;
  display: block;
  max-width: 100%;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
}

/* line 319, ../sass/style.scss */
.main_project__item figure > img {
  height: 385px;
}

/* line 323, ../sass/style.scss */
.main_project__item figure figcaption,
.main_news__item figure figcaption {
  padding: 2em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 329, ../sass/style.scss */
.main_project__item figure figcaption::before,
.main_project__item figure figcaption::after,
.main_news__item figure figcaption::before,
.main_news__item figure figcaption:after {
  pointer-events: none;
}

/* line 335, ../sass/style.scss */
.main_project__item figure figcaption,
.main_project__item figure > a,
.main_news__item figure figcaption,
.main_news__item figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 345, ../sass/style.scss */
figure.effect-sadie figcaption::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(86, 92, 100, 0.4) 0%, rgba(86, 92, 100, 0.9) 75%);
  background: linear-gradient(to bottom, rgba(86, 92, 100, 0.4) 0%, rgba(86, 92, 100, 0.9) 75%);
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

/* line 359, ../sass/style.scss */
.main_project__logo {
  width: 65%;
  max-width: 180px;
  position: absolute;
  top: 65%;
  left: 50%;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.8s, opacity 0.9s;
  transition: transform 0.8s, opacity 0.9s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

/* line 371, ../sass/style.scss */
figure.effect-sadie figcaption::before {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

/* line 375, ../sass/style.scss */
figure.effect-sadie:hover .main_project__logo {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(-50%, -50%, 0) translate3d(0, -40px, 0);
}

/* line 380, ../sass/style.scss */
figure.effect-sadie:hover > img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 385, ../sass/style.scss */
figure.effect-sadie:hover figcaption::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 390, ../sass/style.scss */
.main_project__descr {
  color: #5d626a;
  text-align: left;
}
/* line 393, ../sass/style.scss */
.main_project__descr .content_text {
  text-align: left;
  color: #5d626a;
}

/* line 399, ../sass/style.scss */
.main_map {
  padding: 40px 0;
}

/* line 402, ../sass/style.scss */
.main_map__inner {
  width: 100%;
  height: 490px;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 408, ../sass/style.scss */
.main_news {
  background-color: #cbcfd5;
  padding: 50px 0 160px;
}

/* line 412, ../sass/style.scss */
.grey_button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  background: #f3f3f3;
}

/* line 418, ../sass/style.scss */
.main_news__top {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
/* line 422, ../sass/style.scss */
.main_news__top .grey_button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* line 429, ../sass/style.scss */
.main_news__item {
  width: 48%;
}

/* line 432, ../sass/style.scss */
.main_news__item figure {
  height: 310px;
}

/* line 435, ../sass/style.scss */
figure.effect-julia {
  background: #2f3238;
}

/* line 438, ../sass/style.scss */
figure.effect-julia img {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 444, ../sass/style.scss */
figure.effect-julia figcaption {
  text-align: left;
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 36px;
}
/* line 451, ../sass/style.scss */
figure.effect-julia figcaption:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #cbcfd5;
  top: 0;
  left: 26px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 464, ../sass/style.scss */
figure.effect-julia p {
  display: block;
  margin-left: 12px;
  color: #cbcfd5;
  text-transform: none;
  font-size: 14px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.6s;
  transition: opacity 0.35s, transform 0.6s;
  -webkit-transform: translate3d(-360px, 0, 0);
  transform: translate3d(-360px, 0, 0);
}

/* line 476, ../sass/style.scss */
figure.effect-julia p:first-child {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 480, ../sass/style.scss */
figure.effect-julia p:nth-of-type(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 485, ../sass/style.scss */
figure.effect-julia p:nth-of-type(3) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

/* line 489, ../sass/style.scss */
figure.effect-julia:hover p:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 493, ../sass/style.scss */
figure.effect-julia:hover p:nth-of-type(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

/* line 497, ../sass/style.scss */
figure.effect-julia:hover p:nth-of-type(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 501, ../sass/style.scss */
figure.effect-julia:hover p:nth-of-type(4) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

/* line 505, ../sass/style.scss */
figure.effect-julia:hover p:nth-of-type(5) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* line 509, ../sass/style.scss */
figure.effect-julia:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

/* line 514, ../sass/style.scss */
figure.effect-julia:hover figcaption:before {
  opacity: 1;
}

/* line 517, ../sass/style.scss */
figure.effect-julia:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
