@import "compass/css3";
@include font-face("CenturyGothic", font-files("CenturyGothic.ttf", "CenturyGothic.eot", "CenturyGothic.woff"));
@include font-face("CenturyGothicBold", font-files("CenturyGothic-Bold.ttf", "CenturyGothic-Bold.eot", "CenturyGothic-Bold.woff"));

$darkGrey: #565c64;
 /*header_fix, second_header, copyr*/
$grey: #5d626a;
 /*font subname, header_abs*/
$middleGrey: #cbcfd5;
/*font at footer*/
$lightGrey: #f3f3f3;


//current color for label
$cristalPark : #5ca14d;
