/* Welcome
StSophia (v.2) (c) Begas Anna 2018  */

@import "compass/reset";
@import "_variables";
@import "_slick";
*, *:after, *:before{
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img{
  width: 100%;
  height: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input{
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: none;
  color: $grey;
}
sup{
  position: relative;
  font-size: 60%;
  top: -2px;
}
p{
  margin: 12px 0;
}
::-webkit-input-placeholder { color: $grey; letter-spacing: 0.05em;}
::-moz-placeholder { color: $grey; letter-spacing: 0.05em;}
:-ms-input-placeholder { color: $grey; letter-spacing: 0.05em;}
:-moz-placeholder {color: $grey; letter-spacing: 0.05em;}

body{
font-family: "CenturyGothic";
background-color: #ffffff;
letter-spacing: 0.05em;
line-height: 1.6;
}
.bold{
  font-family: "CenturyGothicBold";
}
.hidden__box{
  height: 0px;
  overflow: hidden;
}
.wrapper{
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.flex{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.header_outer__before{
  position: absolute;
  z-index: 56;
  width: 100%;
}
.header{
  width: 100%;
  background: $grey;
  padding-top: 40px;
  padding-bottom: 94px;
}
.header_wrapper{
  color: $middleGrey;
  width: 100%;
  max-width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}
.header_lang{
  margin-right: 10px;
}
.aside{
  width: 230px;
  text-align: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.aside_b{
  width: 230px;
}
.grey{
  fill:#cbcfd5;
}
.header_social li{
  display: inline-block;
  vertical-align: middle;
}
.header_social svg{
  max-width: 16px;
  max-height: 16px;
  margin: 0 5px;
  fill: #cbcfd5;
}
.header_center{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.header__logo{
  max-width: 280px;
  max-height: 64px;
}
.header__callback{
  cursor: pointer;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  svg{
    fill: $middleGrey;
    margin: 0 4px;
  }
}
// .header_fixed{
//   background: $darkGrey;
//   padding: 10px 0;
// }
.header_fixed__logo svg{
  width: 216px;
  height: 50px;
}
.header_wrapper{
  align-items: center;
  -webkit-align-items: center;
}
.header_fixed_lang{
  width: 230px;
  text-align:center;
}
.header_fixed__nav{
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
// .header_fixed__nav li{
//   margin: 0 10px;
// }
// .header_fixed__nav svg{
//   fill: #ffffff;
//   margin-left: 10px;
//   height: 12px;
// }
.navigation__outer{}
.navigation{
  display: block;
  background: $darkGrey;
  text-align: center;
  padding: 34px 0;
  transition: 0.3s;
  .navigation__box svg{
    fill: #fff;
    height: 16px;
    margin-left: 10px;
  }
  .header_fixed__logo{
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: .5s;
  }
  .header_fixed_lang{
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    -webkit-transition: .5s;
  }
}
.navigation__box{
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  transition: 0.3s;
  -webkit-transition: .3s;
  li{
    display: inline-block;
    margin: 0 12px;
  }
}
.menu_hover__outer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: 56;
  transition: 0.6s;
  -webkit-transition: .6s;
}
.open{
  max-height: 400px;
}
.menu_hover{
  background: $darkGrey;
  color: #ffffff;
  padding: 24px 0;
}
.menu_hover__item{
  display: block;
  width: 19%;
  background-color: $darkGrey;
  transition: .36s;
  -webkit-transition: .36s;
  padding-bottom: 14px;
  .subname, .content_text{
    text-align: center;
  }
}
.scrolled {
  .navigation{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    .header_fixed__logo{
      opacity: 1;
      pointer-events: all;
    }
    .header_fixed_lang{
      opacity: 1;
      pointer-events: all;
    }
  }
  .navigation__box{
    font-size: 18px;
    li{
      margin: 0 10px;
    }
  }
}
.menu_hover__item:hover{
  background-color: $grey;
}
.content_name{
  font-size: 36px;
  color: $grey;
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}
.subname{
  font-size: 18px;
  text-transform: uppercase;
  margin: 16px 0 10px;
}
.content_text{
  font-size: 14px;
  line-height: 1.6;
  color: $middleGrey;
}
.main_one{
  height: 100vh;
  min-height: 750px;
  position: relative;
}
.main_one:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 55;
}
.one_gallery__item{
  height: 100vh;
  min-height: 750px;
  background-size: cover;
  background-position: center;

}
.one_gallery__item_1{
  background-image: url(/img/main/main_1.jpg);
}
.one_gallery__item_2{
  background-image: url(/img/main/main_2.jpg);
}
.one_gallery__item_3{
  background-image: url(/img/main/main_3.jpg);
}
.one_gallery__item_4{
  background-image: url(/img/main/main_4.jpg);
}
.main_one__inner{
  position: absolute;
  left: 0;
  top: 45%;
  z-index: 55;
  color: #ffffff;
  }
.main_one__name{
  font-size: 36px;
  text-transform: uppercase;
}
.main_one__descr{
  max-width: 520px;
  font-size: 20px;
  text-transform: uppercase;
}
.main_one__Link{
  font-family: 'CenturyGothicBold';
  font-size: 16px;
  display: flex;
  align-items: center;
  .long_arrow{
    margin: 0 12px;
  }
}
.long_arrow{
  width: 108px;
  height: 15px;
  fill: #ffffff;
}
.main_one__caption{
  position: absolute;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: 50px;
  z-index: 55;
}
.main_one__slide_left,
.main_one__slide_right{
  color: #fff;
  cursor: pointer;
}
.main_one__slide_left{
  text-align: right;
}
.main_banner{
  padding: 24px 0;
}
.main_banner_inner{
  max-width: 1170px;
  height: 170px;
  margin: 20px auto;
}
// projects
.main_project__box{
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.main_project__item{
  width: 30%;
  margin: 20px 0;
}
.main_project__item figure,
.main_news__item figure {
	position: relative;
	overflow: hidden;
	width: 100%;
	cursor: pointer;
}
.main_project__item figure > img,
.main_news__item figure > img {
	position: relative;
	display: block;
	// min-height: 100%;
	max-width: 100%;
	opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform 1.2s;
	transition: transform 1.2s;
}
.main_project__item figure > img{
  height: 385px;
}

.main_project__item figure figcaption,
.main_news__item figure figcaption {
	padding: 2em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.main_project__item figure figcaption::before,
.main_project__item figure figcaption::after,
.main_news__item figure figcaption::before,
.main_news__item figure figcaption:after{
	pointer-events: none;
}
.main_project__item figure figcaption,
.main_project__item figure > a,
.main_news__item figure figcaption,
.main_news__item figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-sadie figcaption::before {
  content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  // background: rgba(86,92,100,.9);
	background: -webkit-linear-gradient(top, rgba(86,92,100,0.4) 0%, rgba(86,92,100,0.9) 75%);
	background: linear-gradient(to bottom, rgba(86,92,100,0.4) 0%, rgba(86,92,100,0.9) 75%);
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}
.main_project__logo {
  width: 65%;
  max-width: 180px;
	position: absolute;
	top: 65%;
	left: 50%;
  opacity: 0;
	-webkit-transition: -webkit-transform 0.8s, opacity 0.9s;
	transition: transform 0.8s, opacity 0.9s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
figure.effect-sadie figcaption::before {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-sadie:hover .main_project__logo {
	opacity: 1;
	-webkit-transform: translate3d(-50%,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(-50%,-50%,0) translate3d(0,-40px,0);
}
figure.effect-sadie:hover > img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

figure.effect-sadie:hover figcaption::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.main_project__descr{
  color: $grey;
  text-align: left;
  .content_text{
    text-align: left;
    color: $grey;
  }
}

.main_map{
  padding: 40px 0;
}
.main_map__inner{
  width: 100%;
  height: 490px;
  max-width: 1180px;
  margin: 0 auto;
}
.main_news{
  background-color: $middleGrey;
  padding: 50px 0 160px;
}
.grey_button{
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  background: $lightGrey;
}
.main_news__top{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
    .grey_button{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
}
.main_news__item{
  width: 48%;
}
.main_news__item figure{
  height: 310px;
}
figure.effect-julia {
	background: #2f3238;
}
figure.effect-julia img {
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-julia figcaption {
	text-align: left;
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 36px;
  &:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: $middleGrey;
    top: 0;
    left: 26px;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}
figure.effect-julia p {
	display: block;
  margin-left: 12px;
	color: $middleGrey;
	text-transform: none;
	font-size: 14px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.6s;
	transition: opacity 0.35s, transform 0.6s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
figure.effect-julia:hover p:nth-of-type(4) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
figure.effect-julia:hover p:nth-of-type(5) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}
figure.effect-julia:hover figcaption:before{
  opacity: 1;
}
figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.main_news__prev{
  padding: 20px 30px;
  color: $grey;
  svg.calendar{
    fill: $grey;
    width: 16px;
    height: 12px;
  }
}
.main_progress{
  background: url('/img/main/main_progress.jpg') center no-repeat;
  padding-bottom: 360px;
  background-size: cover;
}
.main_progress__box{
  width: 100%;
  max-width: 1030px;
  background: $grey;
  padding: 20px 50px 50px;
  position: relative;
  top: -82px;
  .content_name{
    color: $middleGrey;
  }
}
.main_progress_descr__item{
  align-items: center;
  -webkit-align-items: center;
}
.main_progress__number{
  color: #ffffff;
  font-size: 40px;
  white-space: nowrap;
  margin-right: 14px;
}
.main_progress__prev{
  color: $middleGrey;
  font-size: 14px;
  line-height: 1.4;
}
.main_advantages{
  background-color: $lightGrey;
  padding-bottom: 80px;
  .content_name{
    text-align: left;
  }
}
.main_advantages_images{
  justify-content: flex-end;
  align-items: center;
  -webkit-justify-content: flex-end;
  -webkit-align-items: center;
  position: relative;
  top: -220px;
  margin-bottom: -220px;
}
.main_advantages_img_1{
  position: relative;
  max-width: 590px;
}
.main_advantages_img_2{
  position: relative;
  max-width: 356px;
}
.main_advantages__item{
  width: 24%;
  background: #ffffff;
  padding: 28px 24px;
  color: $grey;
  .content_text{
    color: $grey;
  }
}
.adv__name{
  font-family: "CenturyGothicBold";
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer{
  background: $grey;
  padding: 60px 0 30px;
  color: $middleGrey;
  svg{
    fill: $middleGrey;
  }
}
.footer_name{
  font-size: 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.footer__item{
  max-width: 210px;
  font-size: 14px;
  line-height: 2;
  .flex{
    align-items:center;
    -webkit-align-items:center;
  }
}
.footer_logo{
  width: 100%;
  max-width: 200px;
  max-height: 46px;
}
.footer_contact_svg{
  max-width: 20px;
  max-height: 16px;
}
.footer_social__item{
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid;
  padding: 4px;
  margin-right: 14px;
  background-color: transparent;
  transition: .3s;
  -webkit-transition: .3s;
  svg{
    display: block;
    max-width: 100%;
    max-height: 100%;
    fill: $middleGrey;
    transition: .3s;
    -webkit-transition: .3s;
  }
}
.footer_social__item:hover{
  background-color: $middleGrey;
  svg{
    fill: $grey;
  }

}
.footer__box{
  margin-bottom: 40px;
  & + .footer_name{
    text-align: center;
  }
}
.footer_subscribe{
  width: 100%;
  max-width: 476px;
  margin: 20px auto;
  input{
    width: 58%;
    padding: 0 20px;
  }
  input[type="submit"]{
    width: 40%;
    padding: 0;
  }
}
input{
  background: #fff;
  height: 46px;
  line-height: 46px;
}
input[type="submit"]{
  background: $middleGrey;
  cursor: pointer;
}
.copyright{
  padding: 30px 0;
  background: $darkGrey;
  color: $middleGrey;
  font-size: 14px;
}
.smartorange__logo{
  width: 68px;
  height: 20px;
}

///under-consrtuction
.uc-body{
  // padding-top: 286px;
  background: $lightGrey;
}
.uc_nav .header_wrapper{
  justify-content: center;
  -webkit-justify-content: center;
}
.uc_nav{
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 286px;
  background-color: #ffffff;
  z-index: 55;
  li{
    text-transform: uppercase;
  }
}
.uc-nav__fixed{
  top: 0;
  position: fixed;
  margin-top: 0;
  z-index: 55;
  // transition: 0.1s;
  // -webkit-transition: .1s;
}
.scrollspy{
  // height: 500px;
}
.uc_nav li{
  position: relative;
  padding: 24px 8px;
  display: block;
  white-space: nowrap;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 3px;
    background-color: $grey;
    transition: ease-in-out 0.4s;
    -webkit-transition: ease-in-out 0.4s;
  }
}
.uc_nav .spy__active{
  color: #000000;
  &:before{
    width: 100%;
  }
}
.uc_project{
  margin-top: 356px;
  height: 780px;
  width: 100%;
  background: url('/img/uc/cristal.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}
.uc_project__box{
  background-color: rgba(255,255,255,.75);
  height: 100%;
  width: 50%;
  max-width: 600px;
  padding: 50px 10px;
  text-align: center;
  font-size: 14px;
  .content_name{
    margin: 0 auto;
  }
  img{
    display: block;
    margin: 26px auto;
  }
  table{
    width: 100%;
    color: $grey;
    td{
      width: 50%;
      padding: 6px 8px;
    }
    td:nth-child(1){
      text-align: right;
    }
    td:nth-child(2){
      text-align: left;
      line-height: 1.2;
    }
    .bold{
      padding: 14px 0px;
    }
  }
}
.label_box{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $cristalPark;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 16px;
}
.uc_complex{
}
.uc_gallery_box{
  padding: 20px 0;
  .slick-arrow{
    position: absolute;
    top: 50%;
    margin-top: -23px;
    width: 46px;
    height: 46px;
    background: $grey;
    padding: 12px;
    cursor: pointer;
    z-index: 1;
  }
  .slick_left{left: 6px;}
  .slick_right{right: 6px;}
}
.uc_complex__logo{
  width: 86px;
}
.uc_complex__descr{
  column-count: 2;
  -webkit-column-count: 2;
  column-gap: 80px;
  -webkit-column-gap: 80px;
  p{
    margin: 0 0 20px 0;
  }
}
.uc_gallery__item{
  width: 25%;
  padding: 10px;
  background-position: center;
  background-size: cover;
  height: 470px;
  margin: 0 5px;
}
.uc_adv__gallery{
  .slick-track{
    display: flex;
  }
  .slick-slide {
    margin: 0 10px;
    height: auto;
  }
  .slick-list {
    margin: 0 -10px;
  }
}
.uc_gallery__item_1{background-image: url('/img/uc/CRYSTAL/gal_1.jpg');}
.uc_gallery__item_2{background-image: url('/img/uc/CRYSTAL/gal_2.jpg');}
.uc_gallery__item_3{background-image: url('/img/uc/CRYSTAL/gal_3.jpg');}
.uc_gallery__item_4{background-image: url('/img/uc/CRYSTAL/gal_4.jpg');}
.uc_gallery__item_5{background-image: url('/img/uc/CRYSTAL/gal_1.jpg');}
.uc_gallery__item_6{background-image: url('/img/uc/CRYSTAL/gal_2.jpg');}

.uc_advantages{
  padding: 20px 0;
}
.uc_advantages__name{
  align-items: center;
  -webkit-align-items: center;
}
.adv__prev,
.adv__next{
  width: 46px;
  height: 46px;
  background: $grey;
  padding: 12px;
  display: inline-block;
  cursor: pointer;
}
.uc_adv__item{
  background: #fff;
  padding: 30px 20px;
  color: $grey;
}

.uc_technical{
  background: #ffffff;
  padding: 20px 0 50px;
}
.uc_tech__box{
  transition: 0.4s;
  -webkit-transition: 0.4s;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin: 0 -10px;
}
.uc_tech__item{
  width: 23%;
  position: relative;
  background-color: $grey;
  color: $middleGrey;
  padding: 30px 20px;
  text-align: left;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  margin: 10px;
  cursor: pointer;
  transition: 0.46s;
  -webkit-transition: 0.46s;
  &:after{
    content: attr(data-content);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $middleGrey;
    padding: 0 20px 0px;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: 0.46s;
    -webkit-transition: 0.46s;
    font-size: 14px;
  }
  svg{
    fill: transparent;
    stroke: $middleGrey;
    width: 24px;
    stroke-width: 18px;
    height: 28px;
    margin-right: 20px;
    transition: 0.46s;
    -webkit-transition: 0.46s;
    }
  }
.uc_tech__item:hover{
  background-color: $middleGrey;
  color: $grey;
  &:after{
    max-height: 300px;
    padding: 0 20px 14px;
  }
  svg{
    stroke: $grey;
  }
}
